*{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
}
.main{
    height: 100%;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 80px;
    align-items: center;
    justify-content: center;
    background: white;
    position: sticky;
    top:0px;
    width: 100%;    
}
.allen{
    align-items: center;
    text-align: center;
    position: static;
    font-size:1rem;
}
.navbar>ul{
    margin-left: 50px;
}
.navbar>ul>a{
    position: relative;
    margin-left: 1rem;
    margin-right: -1em;
}
.navbar>ul>li{
    display: inline-block;
    padding-left: 10px;
    cursor: pointer;
    padding:0px;
    font-size:1rem;
    transition: ease-in 0.2s;
}
.navbar>ul>li>a:hover{
    color: white;
    background: green;
    
}
a{
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 2px;
}
.success{
    height:800px;
    width: 100%;
    text-align: center;
    background: url("https://static.tcimg.net/vehicles/primary/0b0a861e6ed242df/2020-Dodge-Challenger-white-full_color-driver_side_front_quarter.png");
    background-size:cover;
    background-attachment: fixed;
    text-transform: uppercase;
    font-family:  sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 90px;
}
.success>h1{
    
    font-weight:900;
    font-size: 8em;
    letter-spacing: 30px;
    
}
.success>h3{
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 5px;
    margin-top: 100px;
}
.success>h2{
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 5px;
    text-transform: capitalize;
}
.Button{
    font-family:  sans-serif;
    margin-top: 5px;
    padding: 10px;
    border: 2px solid black;
    background:black;
    color: white;
    border-radius: 2px;
    width:10em;
    transition: ease-in .2s;
}
.Button:hover{
    border: 2px solid black;
    color: black;
    background-color: rgba(0,0,0,0);
}
.about-div{
    width:100%;
    height:600px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.about{
    display: flex;
    flex-direction: column;
    widows: 460px;
    text-justify: auto;
    font-family:  sans-serif;
}
.about>h1{

    text-transform: uppercase;
    width: 480px;
    margin-top: 80px;
}
.about>p{
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    margin-top: 15px;

    margin-right: 40px;
    /* padding-right: 60px; */
    font-size: 14px;
    font-weight: 200;
    line-height: 25px;
}
.about>button{
    margin-top: 15px;
    
    width:120px
}
.image-div{
    display: flex;
    width:50%;
    background: url("https://di-uploads-pod12.dealerinspire.com/universitydodgeram/uploads/2018/11/2019-dodge-challenger-first-pic-university-dodge.jpg");
    background-size: cover;
    
}
.image{
    width: 100%;
    height:100%;
}

.cards-div{
    width:100%;
    display: flex;
    height: 750px;
    flex-direction: column;
    justify-content: center;
    background: url("https://d2pa5gi5n2e1an.cloudfront.net/ph/images/car_models/MercedesBenz_AMG_GT/1/exterior/exterior_2L_1.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.card{
    font-family: sans-serif;
    width:230px;
    height: 250px;
    text-align: center;
    text-justify: distribute;
    font-size: 15px;
    line-height: 25px;
    border: 8px solid black;
    margin: 15px;
    padding: 40px;
}
.cards-div>h1{
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 35px;
    text-transform: uppercase;
    width: 480px;
    margin-top: 50px;
    margin-left: 440px;
}
.card>h2{
    text-transform: uppercase;
    margin-top: 10px;
    
}
.card>p{
    margin-top: 20px;
}
.card>button{
    background-color: steelblue;
    width:100px;
    height: 30px;
    border: 0px;
    padding:3px;
    
}
.card-align{

    display: flex;
    flex-direction: row;
    justify-content: center;
}
.services-button{
    width:140px;
    height: 40px;
    border: 0px;
    font-family:  sans-serif;
    padding: 10px;
    border: 2px solid black;
    background:black;
    color: white;
    border-radius: 2px;
    width:10em;
    transition: ease-in .2s;
    margin-top: 50px;
    margin-left: 47%;
    cursor: pointer;
}
.services-button:hover{
    border: 2px solid black;
    color: black;
    background-color: rgba(0,0,0,0);
}
.Contact{
    height: 500px;
    width: 100%;
    
    background-color: rgb(144, 231, 227);
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
}
.address{
    width:480px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    letter-spacing: 2px;
}
.address>h2{
   text-transform: uppercase;
   font-weight: 700;
   font-size: 18px;
}
.address>p{
    margin-top: 30px;
    font-size: 13px
}
.logos{
    margin-top: 30px;
}
.address>span{
    margin-top: 100px;
    font-size: 12px

}
.form{
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-top: -15px;
}


.form>input{
    width:400px;
    height:20px;
    border: 2px solid black;
    margin-top: 10px;
    padding: 5px;
    background: rgba(0,0,0,0);
    padding-left: 10px;}
.form>label{
    margin-top: 15px;
    letter-spacing: 1px;
    font-size: 14px;

}
.form>.message{
    height:100px;
}
.form>.message::placeholder{
 
    padding:0px
}
.form>button{
    width:120px;
    height:35px;
    margin-top: 15px;
     align-self:flex-end; 
     cursor: pointer;
}